/lib/cssom/*.js
!/lib/cssom/*-impl.js
/lib/cssom/CSSFontFaceDescriptors.webidl
/lib/cssom/CSSKeyframeProperties.webidl
/lib/cssom/CSSPageDescriptors.webidl
/lib/cssom/CSSMarginDescriptors.webidl
/lib/cssom/CSSPositionTryDescriptors.webidl
/lib/cssom/CSSStyleProperties.webidl
/node_modules
/test-results.xml
